.form {
    height: 520px;
    width: 790px;
    padding: 24px;
    background-color: #fff;

    .inputs-wrapper {
        display: flex;
        flex-direction: column;

        .form-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .input-wrap {
                text-align: left;
                margin-bottom: 25px;
                position: relative;
                width: calc(50% - 15px);

                .content {
                    display: flex;
                    position: relative;
                    border: 1px solid #d5d9e1;
                    border-radius: 6px;
                    width: 100%;
                }
            }
        }
    }
}

.agreement-box {
    color: #273142;
    &:hover{
        color: #f27a1a;
    }
    .agreement-link{
        color: #f27a1a;
    text-decoration: underline;
    margin: 0 3px;
    }
}